.chatgpt-plus-toolbar {
    margin: 0.3em 0em;
    display: flex;
    align-items: end;
    color: #fff;
}

.chatgpt-plus-toolbar2 {
    display: flex;
    align-items: end;
}

.chatgpt-plus-options {
    color: #fff;
}

*:before, 
*:after {
    box-sizing: border-box;
}

.chatgpt-plus-toggle {
    cursor: pointer;
    display: inline-block;
    padding: 0.3em 0;
}

.chatgpt-plus-toggle-extension{
    cursor: pointer;
    display: inline-block;
    padding: 0.3em 0;
}

.chatgpt-plus-toggle-switch {
    display: inline-block;
    background: #ccc;
    border-radius: 8px;
    width: 29px;
    height: 16px;
    position: relative;
    vertical-align: middle;
    transition: background 0.25s;
}

.chatgpt-plus-toggle-switch:before,
.chatgpt-plus-toggle-switch:after {
    content: "";
}

.chatgpt-plus-toggle-switch:before {
    display: block;
    background: linear-gradient(to bottom, #fff 0%, #eee 100%);
    border-radius: 50%;
    box-shadow: 0 0 0 0.5px rgba(0, 0, 0, 0.25);
    width: 12px;
    height: 12px;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: left 0.25s;
}

.chatgpt-plus-toggle:hover .chatgpt-plus-toggle-switch:before {
    background: linear-gradient(to bottom, #fff 0%, #fff 100%);
    box-shadow: 0 0 0 0.5px rgba(0, 0, 0, 0.5);
}

.chatgpt-plus-toggle-checkbox:checked+.chatgpt-plus-toggle-switch {
    background: #ff8b00;
}

.chatgpt-plus-toggle-checkbox:checked+.chatgpt-plus-toggle-switch:before {
    left: 15px;
}

.chatgpt-plus-toggle-checkbox {
    position: absolute;
    visibility: hidden;
}

.chatgpt-plus-toggle-checkbox2 {
    position: absolute;
    visibility: hidden;
}

.chatgpt-plus-toggle-checkbox2:checked+.chatgpt-plus-toggle-switch {
    background: #ff8b00;
}

.chatgpt-plus-toggle-checkbox2:checked+.chatgpt-plus-toggle-switch:before {
    left: 15px;
}

.chatgpt-plus-toggle-checkbox3 {
    position: absolute;
    visibility: hidden;
}

.chatgpt-plus-toggle-checkbox3:checked+.chatgpt-plus-toggle-switch {
    background: #ff8b00;
}

.chatgpt-plus-toggle-checkbox3:checked+.chatgpt-plus-toggle-switch:before {
    left: 15px;
}

.chatgpt-plus-toggle-label {
    margin-left: 5px;
    position: relative;
    top: 2px;
    color: #fff;
}




.commandsLI {
    background-color: #353740;
    color: #fff;
}

.commandsLI:hover {
    background-color: #202123;
}



.rangeSlider {
    background: linear-gradient(to right, #ff8b00 0%, #ff8b00 27%, #fff 27%, #fff 100%);
    border: solid 1px #ff8b00;
    border-radius: 8px;
    height: 7px;
    width: 356px;
    outline: none;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
    color: #fff;
  }


.rangeSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #ff8b00;
    cursor: pointer;
  }

  .rangeSlider::-webkit-slider-thumb :hover {
    opacity: 0.5;
  }



  #snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #353740 ;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
  }
  
  #snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }